@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 1rem;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 5rem;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 3rem;
  color: #222;
}

h4 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 1.5rem;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

a {
  /* ito yung sa navbar links Home About chuchu*/
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

/* Header */

#header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 2rem;
  background-color: #e3e6f3;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar li a {
  transition: 0.2s ease; /* makes hover effect smoother */
}

.navbar li a:hover,
.navbar li a.active {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 50px;
  background-color: black;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #ffc300;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.action_btn:hover {
  padding: 0.8rem 1.9rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 50px;
}

.action_btn:active {
  scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Hero */

#hero {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 0 10rem;
}

#hero .slider {
  width: 750px;
  max-width: 50vw;
  height: 60vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

#hero .list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

#hero .list img {
  width: 750px;
  max-width: 50vw;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

#hero .slider-nav {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#hero .slider-nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

#hero .dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#hero .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

#hero .dots li.active {
  width: 30px;
}

#hero .description {
  width: 50%;
  padding-left: 2rem;
}

#hero .description p {
  word-wrap: break-all;
}

#hero .description .buttons{
  display: flex;
  gap: 1rem;
}

#hero .description .buttons button:hover{
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

/* Start of Main Content / Body */

#main-content {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#main-content .main-description{
  margin-top: 5rem;
  max-width: 80vw;
}

#main-content .main-description h2{
  font-size: 4rem;
}

#main-content .slider-main {
  width: 750px;
  max-width: 50vw;
  height: 60vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

#main-content .list-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

#main-content .list-main img {
  width: 750px;
  max-width: 50vw;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

#main-content .slider-nav-main {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#main-content .slider-nav-main button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

#main-content .dots-main {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#main-content .dots-main li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

#main-content .dots-main li.active-main {
  width: 30px;
}

/* Start of Footer */
.container{
	max-width: 1200px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffc300;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-bottom{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-bottom h4 {
  font-size: 16px;
  color: white;
}
.footer-bottom .logo {
  display: inline-block;
}
/* Responsive Design */

@media (max-width: 1200px) {
  /* Hero - Responsive */
  #hero {
    margin: 0 5rem;
  }
  #hero .slider {
    width: 600px;
    max-width: 100vw;
    height: 50vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #hero .list img {
    width: 600px;
    max-width: 100vw;
  }
  p {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  /* sidebar will appear */
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  /* Hero - Responsive */

  #hero {
    flex-direction: column;
    margin: 0 2rem;
  }
  #hero .slider {
    width: 700px;
    height: 50vh;
  }
  #hero .list img {
    width: 700px;
  }
  p {
    font-size: 1.3rem;
  }
  #hero .description {
    width: 700px;
    padding: 0;
  }
  h2 {
    font-size: 3rem;
    line-height: 0.5rem;
  }
  h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  #hero .slider-nav button {
    width: 4rem;
    height: 4rem;
  }
  #hero .dots li {
    width: 0.8rem;
    height: 0.8rem;
  }
  /* Main Content Responsive */
  #main-content .main-description h2{
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  /* Hero - Responsive */
  #hero .slider {
    width: 600px;
    height: 60vh;
  }
  #hero .list img {
    width: 600px;
  }
  #hero .description {
    width: 600px;
  }
  p {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  #hero .slider-nav button {
    width: 3rem;
    height: 3rem;
  }
  #hero .dots li {
    width: 0.6rem;
    height: 0.6rem;
  }
  /* Main Content Responsive */
  #main-content .main-description h2{
    font-size: 2.5rem;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  /* Hero - Responsive */

  #hero .slider {
    width: 400px;
    height: 60vh;
  }
  #hero .list img {
    width: 400px;
  }
  #hero .description {
    width: 400px;
  }
  p {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  #hero .slider-nav button {
    width: 2rem;
    height: 2rem;
  }
  #hero .dots li {
    width: 0.5rem;
    height: 0.5rem;
  }
  /* Main Content Responsive */
  #main-content .main-description h2{
    font-size: 2rem;
  }
  .footer-col{
    width: 100%;
}
}
